<div class="profile-container">
  <h1>Perfil de Usuario</h1>
  <div class="user-info">
    <label for="nombre">Nombre:</label>
    <p id="nombre">{{info.first_name}}</p>

    <label for="apellido">Apellido:</label>
    <p id="apellido">{{info.last_name}}</p>

    <label for="correo">Correo:</label>
    <p id="correo">{{info.email}}</p>

    <label for="rol">Rol:</label>
    <p id="rol">{{info.role}}</p>

    <label for="carroID">Carro ID:</label>
    <p id="carroID">{{info.cartID}}</p>

  </div>
</div>